<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>

    <div>
         <a href="{{ fb_login_url }}">Login with Facebook</a>
    </div>
    <div>
         <a href="{{ google_login_url }}">Login with Google</a>
    </div>

</body>
</html>